language: node_js
node_js:
  - 'node'
services:
  - 'mysql'
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS turing_test;'
addons:
  hosts:
    - localhost
before_script:
  - sleep 5
env:
  - NODE_ENV=test
install:
  - npm install
script:
  - npm run test
