language: node_js
node_js:
  - 'stable'
cache:
  yarn: true
  directories:
    - 'node_modules'
services:
  - 'mysql'
addons:
  hosts:
    - localhost
env:
  - NODE_ENV=test
script:
  - sudo yarn test
